.navCSS {
  background-color: whitesmoke;
  border-bottom: -1px solid #ccc;
  width: 100%; }
  .navCSS ul a {
    padding: 0;
    height: 64px !important; }
  .navCSS li {
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center; }
    .navCSS li:hover .fa-heart-o {
      color: black; }
    .navCSS li .fa {
      color: black; }
      .navCSS li .fa:hover {
        color: inherit; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; }

.mainContent {
  width: 40%;
  padding-top: 4%; }
  @media screen and (min-width: 0px) and (max-width: 468px) {
    .mainContent {
      width: 90%; } }
  @media screen and (min-width: 468px) and (max-width: 1024px) {
    .mainContent {
      width: 60%; } }

.liAboutME {
  width: 100%; }

.mar10 {
  margin: 10px 6px; }

.pad8 {
  padding: 8px 4px !important; }

.showBox {
  transition: transform 2s ease-in-out; }
  .showBox.show {
    display: block;
    transform: translateY(-100%); }
  .showBox.hide {
    display: none;
    transform: translateY(0%); }

.theBlackBox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999; }

.skillsContainer {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  z-index: 50;
  margin-top: 40px;
  left: 10%;
  width: 80%;
  height: 86%; }
  .skillsContainer .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%; }

.portofolioContainer {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 50;
  margin-top: 25px;
  left: 10%;
  overflow: scroll;
  width: 80%;
  height: 86%; }

.contactContainer {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 50;
  margin-top: 40px;
  left: 10%;
  width: 80%;
  height: 86%; }

.waves-effect {
  margin-left: 0px;
  padding-left: 15px; }

.btn, .btn-large {
  text-decoration: none;
  color: black;
  text-align: center;
  letter-spacing: .5px;
  background-color: white; }

.linkedIn {
  background: #0077B5;
  font-size: 12px;
  width: 25%;
  font-weight: bold;
  padding: 5px;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
  margin-right: 10px; }
  .linkedIn:hover {
    background: #65A6D4; }

.fb {
  background: #3b5998;
  width: 25%;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
  margin-right: 10px; }
  .fb:hover {
    background: #4e81d4; }

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #e6301e;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 5px; }

.card {
  margin-top: 3%; }

p {
  padding-left: 1%;
  padding-right: 1%; }

/*# sourceMappingURL=output.css.map */
